.challenges{
    margin-top: 6rem;
    padding: 1rem;
   
}
.challengesCont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #fff;
    position: relative;
    margin-bottom: 6rem;
}
.challenges h3{
    text-align: left;
    margin: 0;
    font-size: 2rem;
    border-bottom: none;
}
.plainside{
    display: block;
    background-color: #d808d8;
    width: 100%;
    height: 50vh;
    border-radius: .5rem;
}
.textside{
    text-align: right;
    width: 80%;
    position: absolute;
    right: 0;
    z-index: 1;
}
.completed{
    color: #FF00FF;
    font-size: 1.2rem;
    margin: .3rem 0;
}
.projectName{
    text-transform: capitalize;
    font-size: 1.6rem;
    color: #C0C0C0;
    margin: .2rem;
}
.projectParagraph{
    background-color: #12121b;
    padding: 2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    line-height: 1.7rem;
    margin: 1rem 0;
    z-index: 1;
    font-weight: 300;
    color: #C0C0C0;
}
.challengeLinksSec{
    justify-content: right;
}

.challengesCode{
    border: #FF00FF solid 2px;
    color: #FF00FF;
}
.challengesDemo{
    background-color: #FF00FF;
    color: #12121b;

}
.challengesCode:hover, .challengesCode:focus{
    background-color: #FF00FF;
    color: #D3D3D3;
}
.challengesDemo:hover, .challengesDemo:focus{
    border: #FF00FF solid 2px;
    color: #FF00FF;
    background: none;
}

/* left */
.left{
    margin-top: 2rem;
    position: static;
    text-align: left;
    width: 150%;
}
.left .challengeLinksSec{
    justify-content: left
}


@media (max-width:415px){
    .challenges{
        padding: 0;
        
    }
    .challengesWrapper{
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }
    .challengesCont{
        gap: 1.5rem;
        margin-top: 1.5rem;

    }
    .projectParagraph{
        text-align: left;
    }
    .plainside{
        height: 400px;
        width: 105%
    }
    .left{
        position: absolute;
        right: 0;
        margin-top: 0;
        text-align: right;
        width: 80%;
    }
    .left .challengeLinksSec{
        justify-content: left   ;
    }
  
}