.challenges{
    margin: 0 2rem;
    margin-top: 6rem;
    padding: 1.5rem;
    /* note the padding */
}
.challengesWrapper{
    display:flex;
    flex-direction: column;
    gap: 4.5rem;
}
.challengesCont{
    display: grid;
    color: #fff;
    position: relative;
}
.challenges h3{
    text-align: left;
    margin-left: 0;
    font-size: 2rem;
    border-bottom: none;
    color: #d808d8;
}
.count{
    width: 2%;
    height: 23%;
    text-align: center;
    border: #C0C0C0 solid 2px;
    background-color: #C0C0C0;
    text-transform: capitalize;
    margin-bottom: 1rem;
    border-radius: 3rem;
}
.completed{
    display: none;
}
.plainside{
    background:linear-gradient(to right,#d808d87a,#d808d880);
    height: 45vh;
    border-radius: .5rem;
}


.textside{
    width:98%;
    margin-top: -15rem;
    align-items: flex-end;
    z-index: 1;
}

.projectName{
    text-transform: capitalize;
    padding: .7rem;
    font-size: 1.3rem;
    color: #C0C0C0;
    margin: 0;
}
.projectParagraph{
    background-color: #12121b;
    padding: 2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    line-height: 1.7rem;
    z-index: 1;
    font-weight: 300;
    color: #C0C0C0;
}

.challengesCode{
    border: #FF00FF solid 2px;
    color: #FF00FF;
}
.challengesDemo{
    background-color: #FF00FF;
    color: #12121b;

}
.challengesCode:hover, .challengesCode:focus{
    background-color: #FF00FF;
    color: #D3D3D3;
}
.challengesDemo:hover, .challengesDemo:focus{
    border: #FF00FF solid 2px;
    color: #FF00FF;
    background: none;
}

@media screen and (min-width:801px){
    .challenges{
        padding: 3.7rem;
    }
    .challengesCont{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 3rem;
    }

    
    .projectName{
        background-color: #d808d88a;
    }
    .textside{
        margin: 0;
        position: absolute;
        right: 0;
        width: 75%;
        text-align: right;
    }
    .differCont{
        position: relative;
        grid-template-columns: 100%;
    }
    .differ{
        /* height: 100%; */
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
    }
    .differCont .textside{
        position: static;
        text-align: left;
    }
    .differCont .challengeLinksSec{
        justify-content: left;
    }
}

