.challenges{
    margin: 0 2rem;
    margin-top: 6rem;
    padding: 1rem;

}
.challengesWrapper{
    display:flex;
    flex-direction: column;
    gap: 4rem;
}
.challengesCont{
    display: grid;
    color: #fff;
    position: relative;
}
.challenges h3{
    text-align: left;
    margin: 0;
    font-size: 2rem;
    border-bottom: none;
}
.plainside{
    background-color: #d808d8;
    height: 45vh;
    border-radius: .5rem;
}
.textside{
    width: 90%;
    margin-top: -20rem;
    margin-left: 2rem;
    align-items: flex-end;
    z-index: 1;
}
.completed{
    color: #12121b;
    padding-top: 1rem;
    font-size: 1.2rem;
    margin: .3rem 0;
}
.projectName{
    text-transform: capitalize;
    font-size: 1.6rem;
    color: #C0C0C0;
    margin: .2rem;
}
.projectParagraph{
    background-color: #12121b;
    padding: 2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    line-height: 1.7rem;
    z-index: 1;
    font-weight: 300;
    color: #C0C0C0;
}

.challengesCode{
    border: #FF00FF solid 2px;
    color: #FF00FF;
}
.challengesDemo{
    background-color: #FF00FF;
    color: #12121b;

}
.challengesCode:hover, .challengesCode:focus{
    background-color: #FF00FF;
    color: #D3D3D3;
}
.challengesDemo:hover, .challengesDemo:focus{
    border: #FF00FF solid 2px;
    color: #FF00FF;
    background: none;
}

@media screen and (min-width:542px){
    .challenges{
        padding: 3.7rem;
    }
    .challengesCont{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 3rem;
    }
    
    .completed{
        color: #FF00FF;
    }
    .textside{
        margin: 0;
        position: absolute;
        right: 0;
        width: 75%;
        text-align: right;
    }
    .differCont{
        position: relative;
        grid-template-columns: 100%;
    }
    .differ{
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
    }
    .differCont .textside{
        position: static;
        text-align: left;
    }
    .differCont .challengeLinksSec{
        justify-content: left;
    }
}

