footer{
    margin: 7rem 3rem;
    color: #DEDEDE;
    text-transform: capitalize;  

}

.form{
    display: flex;
    flex-direction: column;
    background-color: #08080e;
    margin: 0 auto;
    box-shadow: #DEDEDE 0 0 7px;
    border-radius: .5rem;
    padding: 1rem;
    gap: 1rem;
}
input,textarea{
    background: none;
    border-top:solid #ff00ff8a  1px;
    border-left: #FF00FF solid 1px;
    border-right: #dedede94 solid 1px;
    border-bottom: #dedede52 solid 1px;
    color: #dededec0;
    padding: .6rem 1rem;    
    font-size: 1.3rem;
    border-radius: .5rem;
}
label{
    color: #5A5A5A;
}
textarea{
    resize: none;
}
input:hover, input:focus,
textarea:hover, textarea:focus{
    border: #DEDEDE solid 1px;
    border: solid .9px #ff00ff8a;
    outline: none;
}
.contact-title{
    font-size: 2rem;
    color: #DEDEDE;
    text-align: center;
    text-transform:uppercase;
    margin: 1rem 0;
    padding: 1rem;
}
.sendBtn{
    padding: .5rem 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color: #FF00FF;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
}
.sendBtn:hover, .sendBtn:focus{
    background: none;
    border: #FF00FF solid 1px;
    color: #FF00FF;
}

@media screen and (min-width:600px){
    .form{
        padding: 2rem;
        width: 50%;
        border-radius: 0;
    }
}