
*{
    margin: 0;
}

header{
    color: #fff;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    background-color: #0d0d11;
    z-index: 10;
}
.menuDisplayer{
    display: none;
}
.menuCloser{
    opacity: 0;
}

.name{
    text-transform: capitalize;
    color: #B8BBC0;
    padding: .3rem;
    border-radius: 1rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    gap: 1rem;
}

.nav-links:hover, .nav-links:focus{
    color: #FF00FF;
}
li{
    list-style-type: none;
    color: #B8BBC0;
}
.nav-links{
    color: #B8BBC0;
    text-decoration: none;
    font-weight: 300;
    font-size: .96rem;
}
.resume{
    border: #FF00FF solid 1px;
    color: #FF00FF;
    padding: .5rem .9rem;
    font-weight: 500;
    border-radius: .3rem;
    letter-spacing: .4px;
}
.resume:hover, .resume:focus{
    background-color: #FF00FF;
    color: #0d0d11;
}



@media (max-width:415px){
    header{
        padding: 0;
        width: 100%;
    }
    .logosec{
        padding: 1rem;
        width: 93%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menuDisplayer{
        display: flex;
        margin-right: 1rem;
        font-size: 1.5rem;
        color: #B8BBC0;
    }
    .menuCloser{
        opacity: 1;
        font-size: 1.5rem;
        color: #FF00FF;
        margin: 2rem;
        float: right;
    }
    .menuCloser:hover, .menuCloser:focus{
        opacity: .5;
    }
    nav{
        padding: 0;
        align-self: flex-start;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        position: relative;
    }
    
    .listCont{
        width: 60%;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        /* background-color: #fff; */
        background-color: #0d0d11;
        /* background-color: #3E3E3E; */
        box-shadow: #FF00FF 0 0 2px;
        margin: 0;
        display: none;
    
    }
    .list{
        flex-direction: column;
        margin-top: 8rem;
        /* background-color: red; */
    }
    .list ul{
        margin-top: 10rem;
    }
    .list ul li{
        margin-bottom: 1rem;
    }
    .resume{
        margin-top: 1rem;
    }
    .zindex{
        z-index: 100;
    }
    
}


