
*{
    margin: 0;
}

header{
    padding: 1rem 2rem;    
    color: #fff;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    background-color: #0d0d11;
    z-index: 10;
}
.logosec{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menuDisplayer{
    display: flex;
    font-size: 1.5rem;
    color: #B8BBC0;
    cursor: pointer;
}
.menuCloser{
    font-size: 1.5rem;
    color: #FF00FF;
    margin: 2rem;
    float: right;
    cursor: pointer;
}
.menuCloser:hover, .menuCloser:focus{
    opacity: .5;
}


.name{
    text-transform: capitalize;
    color: #B8BBC0;
    padding: .3rem;
    border-radius: 1rem;
}
nav .listCont{
    display: none;
    width: 50%;
    height: 100vh;
    box-shadow: #FF00FF 0 0 2px;
    background-color: #0d0d11;
    position: absolute;
    right: 0;
    top: 0;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 7rem;
}


.nav-links:hover, .nav-links:focus{
    color: #FF00FF;
}
li{
    list-style-type: none;
    color: #B8BBC0;
}
.nav-links{
    color: #B8BBC0;
    text-decoration: none;
    font-weight: 300;
    font-size: .96rem;
}
.resume{
    border: #FF00FF solid 1px;
    color: #FF00FF;
    padding: .5rem .9rem;
    font-weight: 500;
    border-radius: .3rem;
    letter-spacing: .4px;
    
}
.resume:hover, .resume:focus{
    background-color: #FF00FF;
    color: #0d0d11;
}

@media screen and (min-width:542px){
    .menuDisplayer{
        display: none;
    }
    .menuCloser{
        display: none;
    }
    header{
        padding: 1.5rem 4rem;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    nav .listCont{
        position: static;
        display: block;
        width: 100%;
        height: fit-content;
        box-shadow: none;
    }
    .list{
        flex-direction: row;
        margin: 0;
    }
}