
.skillsTitle{
    font-size: 2rem;
}
.skills{
    margin: 0;
    margin-top: 3rem;
}

.skill img{
    width: 40px;
}
.skills-container{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    padding: 1.5rem;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px #FF00FF;
    border-radius: .5rem;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0;
    color: #DEDEDE;
    text-transform: uppercase;
    /* z-index: 1; */
}


@media (max-width:415px) {
    .skills{
        margin-top: 7rem;
    }
    .skills-container{
        grid-template-columns: 50% 50%;
        margin-top: -1rem;
    }

}
