
.skillsTitle{
    font-size: 2rem;
}
.skills{
    margin: 0 3rem;
    margin-top: 4rem;
}

.skill img{
    width: 40px;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding: 1.5rem;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px #FF00FF;
    border-radius: .5rem;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0;
    color: #DEDEDE;
    text-transform: uppercase;
    /* z-index: 1; */
}


@media (min-width:542px) {
    .skills{
        margin: 2rem 5rem;
        /* margin-top: 10rem; */
    }
    .skills-container{
        grid-template-columns: repeat(3,1fr);
    }

}


@media screen and (min-width:700px){
    .skills-container{
        grid-template-columns: repeat(5,1fr);
    }
}